<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkPe9pNfrShEJZd-9vbLg3pzW7wQuea_pLxg&usqp=CAU" alt="" >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versao do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="">of type and scrambled it to make a typnged. m passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lore</a></p>
    </div>
</div>